html{
    box-sizing: border-box;
}


*, 
*::after, 
*::before{
    box-sizing: inherit;
}



ul,
li{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


a{
  text-decoration: none;
}

html,
body{
  height: 100%;
}

body{
  font-size: 15px;
  line-height: 20px;
  @extend %raleway-300;
  color: $text;
  display: flex;
  letter-spacing: 0.2px;
  flex-direction: column;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main{
  flex-grow: 1;
}


.menu{
    &__list{
        display: flex;
    }
    &__item{
        margin-left: 22px;
        padding: 0 15px 40px;
        border-bottom: 4px solid transparent;
        transition: all .3s;
        &:hover{
            border-bottom: 4px solid #00e1ff;
            .menu__link{
                color: #00e1ff;
            }
        }
    }
    &__link{
        color: $default;
        text-transform: uppercase;
    }
}

.menu__item--active{
    border-bottom: 4px solid #00e1ff;
    .menu__link{
        color: #00e1ff;
    }
}