html{
    box-sizing: border-box;
}


*, 
*::after, 
*::before{
    box-sizing: inherit;
}



ul,
li{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


a{
  text-decoration: none;
}

html,
body{
  height: 100%;
}

body{
  font-size: 14px;
  line-height: 20px;
  display: flex;
  letter-spacing: 0.2px;
  flex-direction: column;
}

.container{
  max-width: 1075px;
  margin: 0 auto;
  padding: 0 15px;
}

.main{
  flex-grow: 1;
  background: #FAFAFA;
}