$default: #3f4244;
$accent: #ffffff;
$text: #929ba0;



%raleway-500{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}



%raleway-300{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

%raleway-200{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

%raleway-100{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}